.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.params{
  margin: 10px;
  min-width: 175px;
}

.paramBlock{
  display:flex;
  justify-content:space-around;
  align-items: center;
  border: 1px solid black;
  background-color:coral;
  padding: 10px 25px;
  border-radius: 15px;
  margin: 10px;
}

.paramBlock:hover, .longest:hover, .total:hover{
  opacity: 0.8;
}

.mainBlock{
  padding: 10px;
  font-weight: bold;
  min-width: 900px;
}

input[type=button]{
  background-color: teal;
  border: 1px solid white;
  color: white;
}

input[type=button]:hover{
  background-color: white;
  border: 1px solid teal;
  color: teal;
}

.title{
  text-align: center;
  border: 1px solid springgreen;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 15px;
  background:springgreen;
}

.form{
  margin: 15px;
  background-color: darkcyan;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form>input,select{
  border: 0;
  border-radius: 10px;
  padding: 10px;
  background-color: none;
}

.total,.longest{
  background-color: darkorchid;
  border-radius: 15px;
  padding: 10px 30px;
  margin: 15px;
  min-width: 350px;
  color:white;
}